#simulator {
  background: #e5e5e5;
}

#simulator .content {
  background: inherit;
  margin-top: 12em;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 4fr 1fr;
      grid-template-columns: 2fr 1fr 4fr 1fr;
  -ms-grid-rows: 1fr 1fr .5fr 1fr 1fr;
      grid-template-rows: 1fr 1fr .5fr 1fr 1fr;
}

#simulator .content .container-imagen {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

#simulator .content .container-imagen .imagen-proceso {
  width: 100%;
}

#simulator .content .creador {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  padding: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f2f2f2;
  background: #222222;
  border-radius: 15px;
  position: relative;
  margin-bottom: 20px;
}

#simulator .content .creador .form {
  margin-top: 10px;
}

#simulator .content .creador input {
  border: none;
  font-size: 1.2rem;
  color: inherit;
  background: none;
  width: 80%;
  margin: 5px 0;
  padding: 5px 10px;
  border-bottom: 2px solid #00629b;
}

#simulator .content .creador .check-container {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#simulator .content .creador .check-container label {
  color: #ffffff;
  display: inline-block;
  padding: 5px 0px 5px 40px;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
}

#simulator .content .creador .check-container label:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

#simulator .content .creador .check-container label::after {
  content: "";
  position: absolute;
  left: 15px;
  width: 15px;
  display: inline-block;
  height: 15px;
  background: none;
  border: 3px solid #00629b;
}

#simulator .content .creador .check-container input[type="checkbox"] {
  display: none;
}

#simulator .content .creador .check-container input[type="checkbox"]:checked + label {
  padding: 5px 20px;
  color: #50a700;
}

#simulator .content .creador .check-container input[type="checkbox"]:checked + label::after {
  display: none;
}

#simulator .content .creador .title {
  font-size: 2rem;
  color: #50a700;
}

#simulator .content .creador button {
  position: absolute;
  bottom: 5px;
  right: 50%;
  border: none;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  background: #00629b;
  color: inherit;
  padding: 5px 10px;
}

#simulator .content .tabla {
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 20px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  background: #222222;
}

#simulator .content .tabla .principal {
  text-align: left !important;
}

#simulator .content .tabla .row {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #e4e4e4;
}

#simulator .content .tabla .row .columna {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  text-align: center;
}

#simulator .content .tabla .recurso {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#simulator .content .tabla h2 {
  margin: 0;
}

#simulator .content .ContainerRecursos {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#simulator .content .box {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

#simulator .content .creador-recurso {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f2f2f2;
  background: #222222;
  font-size: 1.3rem;
}

#simulator .content .creador-recurso label {
  -ms-grid-column-align: left;
      justify-self: left;
  margin-left: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}

#simulator .content .creador-recurso input {
  border: none;
  font-size: 1rem;
  color: inherit;
  background: none;
  width: 90%;
  margin: 20px 0;
  padding: 5px 10px;
  border-bottom: 2px solid #00629b;
}

#simulator .content .creador-recurso button {
  border: none;
  padding: 5px 10px;
  color: #f2f2f2;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  background: #00629b;
}
/*# sourceMappingURL=TBC.css.map */